Source: python-iqm
Section: python
Priority: extra
Maintainer: Timid Robot Zehta <tim@clockwork.net>
Build-Depends: cdbs (>= 0.4.62), debhelper (>= 7), python (>=2.6),
 python-support
Standards-Version: 3.8.3
Homepage: https://github.com/ClockworkNet/python-iqm

Package: python-iqm
Architecture: all
Depends: python (>=2.6), python-support
Description: Interquartile Mean pure-Python module
